<!DOCTYPE html>
<article>
    <div class="sectionDiv">
        <div name="userStatsPanel" class="panelDiv">
            <h2 id="leagueStatsTitle" class="sectionTitles">My League Stats</h2>
            <div class="infoDiv">
                <i class="infoText">These are your personal stats in this league.</i>
            </div>
            <div>

                <div id="userStatsDiv">
                    <table id="userStatsTable" class="statsTable">
                        <tr>
                            <td>
                                <label class="labelText">Matches Played</label>
                                <br>
                                <label class="normalText">{{userData.matchesPlayed}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="labelText">Wins</label>
                                <br>
                                <label class="normalText">{{userData.wins}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="labelText">Losses</label>
                                <br>
                                <label class="normalText">{{userData.losses}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="labelText">Win Streak</label>
                                <br>
                                <label class="normalText">{{userData.winStreak}}</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="labelText">Loss Streak</label>
                                <br>
                                <label class="normalText">{{userData.lossStreak}}</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="hStatsDiv">
                    <table id="hStatsTable">
                        <tr>
                            <td id="rightAlignTD">
                                <label class="labelText" style="color:green">{{userData.winRatio}} </label>
                            </td>
                            <td>
                                <label class="labelText">Win Rate</label>
                            </td>
                        </tr>
                        <tr>
                            <td id="rightAlignTD">
                                <label class="labelText" style="color:green">{{userData.points}} </label>
                            </td>
                            <td>
                                <label class="labelText">Points</label>
                            </td>
                        </tr>
                        <tr>
                            <td id="rightAlignTD">
                                <label class="labelText" style="color:green">{{userData.lossStacks}}</label>
                            </td>
                            <td>
                                <p class="labelText">
                                    Bonus
                                    <br>
                                    Stacks
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionDiv">
        <div name="matchDiv" class="panelDiv">
            <h2 class="sectionTitles">Battle Report</h2>
            <div class="infoDiv">
                <i class="infoText">Report your wins here.</i>
            </div>
            <div id="pointsDiv">
                <label class="infoText">Previously beat: <font id="pointsDivFont">{{userData.prevOpp}}</font></label>
            </div>
            <div>
                <form id="playerList" method="post" action="/winner">
                    <table name="brTable" id="brTable">
                        <tr>
                            <td>
                                <label class="labelText">Defeated</label>
                                <br>
                                <select name="playerDrop" id="playerDrop">
                                    <option></option>
                                    {{#each playerlistObject}}
                                    <option value="{{this.userName}}" name="playerOption" id="playerOption">{{this.screenName}}</option>
                                    {{/each}}
                                </select>
                                <br>
                                <labe class="labelText">over</labe>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label name="matchLabel" id="matchLabel" class="labelText" for="matchRange">1 </label>
                                <label class="labelText">Games</label>
                                <br>
                                <input name="matchAmount" id="matchRange" type="range" min="1" max="10" value="1" oninput="labelInput()"></input>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="logoutButton" type="submit" value="Beat em">Beat em'</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="sectionDiv">
        <div class="panelDiv">
            <h2 id="claimTitle" class="sectionTitles">Claim Rewards</h2>
            <div id="pointsDiv">
                <label class="infoText">My points: <font id="pointsDivFont">{{userData.points}}</font></label>
            </div>
            <div class="infoDiv">
                <i class="infoText">Redeem points here!</i>
            </div>
            <div>
                <form method="post" action="/cashin">
                    <table id="claimTable">
                        <tr>
                            <td>
                                <label class="labelText">Getting</label>
                                <label name="packAmount" id="packAmount" class="labelText">1</label>
                                <label class="labelText">Packs</label>
                                <br>
                                <input name="packNumber" id="packNumber" type="range" min="1" max="10" value="1" oninput="packLabelInput()"></input>
                                <br>
                                <label class="normalText" name="packAmount" id="packCost">100</label>
                                <label class="normalText" id="packCostFont">Points</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="logoutButton" id="cashPoints" type="submit" value="submit">Those packs are mine!</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="sectionDiv">
        <div class="panelDiv" id="leaderDiv">
            <h2 id="leaderboardTitle" class="sectionTitles">Leaderboard</h2>
            <table name="leaderboarTable" id="leaderboardTable">
                <th class="labelText">Nancy Venia Pokemon League</th>
                {{#each databaseObject}}
                <tr id="leaderTR">
                    <td>
                        <label class="labelText">{{this.screenName}}</label>
                        <br>
                        <i name="lMinorStats" class="infoText">{{this.wins}} wins / {{this.winRatio}} win rate</i>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <div class="sectionDiv">
        <div name="e4Div" id="e4Div" class="panelDiv">
            <h2 class="sectionTitles">The Elite 4</h2>
            <div class="infoDiv">
                <i class="infoText">Defeat these players to earn bonus points!</i>
            </div>
            <br>
            <div>
                <table id="e4Table">
                    <tr>
                        <td>
                            <label class="labelText">Alpha Member</label>
                            <br>
                            <i class="infoText">250 points</i>
                        </td>
                        <td>
                            <label class="labelText">Beta Member</label>
                            <br>
                            <i class="infoText">200 points</i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="labelText">{{e4Object.alpha.screenName}}</label>
                            <br>
                            <img src="../images/alpha.png" alt="image">
                        </td>
                        <td>
                            <label class="labelText">{{e4Object.beta.screenName}}</label>
                            <br>
                            <img src="../images/beta.png" alt="image">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="infoText">{{e4Object.alpha.matchesPlayed}} matches played</i>
                            <br>
                            <i class="infoText">{{e4Object.alpha.wins}} wins</i>
                            <br>
                            <i class="infoText">{{e4Object.alpha.losses}} losses</i>
                            <br>
                            <i class="infoText">{{e4Object.alpha.winStreak}} win streak</i>
                            <br>
                            <i class="infoText">{{e4Object.alpha.winRatio}} win rate</i>
                        </td>
                        <td>
                            <i class="infoText">{{e4Object.beta.matchesPlayed}} matches played</i>
                            <br>
                            <i class="infoText">{{e4Object.beta.wins}} wins</i>
                            <br>
                            <i class="infoText">{{e4Object.beta.losses}} losses</i>
                            <br>
                            <i class="infoText">{{e4Object.beta.winStreak}} win streak</i>
                            <br>
                            <i class="infoText">{{e4Object.beta.winRatio}} win rate</i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="labelText">Delta Member</label>
                            <br>
                            <i class="infoText">150 points</i>
                        </td>
                        <td>
                            <label class="labelText">Omega Member</label>
                            <br>
                            <i class="infoText">100 points</i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="labelText">{{e4Object.delta.screenName}}</label>
                            <br>
                            <img src="../images/delta.png" alt="image">
                        </td>
                        <td>
                            <label class="labelText">{{e4Object.omega.screenName}}</label>
                            <br>
                            <img src="../images/omega.png" alt="image">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="infoText">{{e4Object.delta.matchesPlayed}} matches played</i>
                            <br>
                            <i class="infoText">{{e4Object.delta.wins}} wins</i>
                            <br>
                            <i class="infoText">{{e4Object.delta.losses}} losses</i>
                            <br>
                            <i class="infoText">{{e4Object.delta.winStreak}} win streak</i>
                            <br>
                            <i class="infoText">{{e4Object.delta.winRatio}} win rate</i>
                        </td>
                        <td>
                            <i class="infoText">{{e4Object.omega.matchesPlayed}} matches played</i>
                            <br>
                            <i class="infoText">{{e4Object.omega.wins}} wins</i>
                            <br>
                            <i class="infoText">{{e4Object.omega.losses}} losses</i>
                            <br>
                            <i class="infoText">{{e4Object.omega.winStreak}} win streak</i>
                            <br>
                            <i class="infoText">{{e4Object.omega.winRatio}} win rate</i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="sectionDiv">
        <div class="panelDiv" id="logoutDiv">
            <h2 class="sectionTitles">Log Out</h2>
            <div id="logoutDiv">
                <form method="post" action="/logout">
                    <button class="logoutButton" id="mainLogout" type="submit">Log Out</button>
                </form>
            </div>
        </div>
    </div>
</article>